<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>be.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>be.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>be.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>be.controller.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>be.controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>be.controller.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>be.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>be.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountsController</servlet-name>
        <servlet-class>be.controller.GetAccountsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountController</servlet-name>
        <servlet-class>be.controller.GetAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyAccountController</servlet-name>
        <servlet-class>be.controller.BuyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartController</servlet-name>
        <servlet-class>be.controller.GetCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>be.controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>be.controller.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>be.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>be.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>be.controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpGoogleHandler</servlet-name>
        <servlet-class>be.controller.SignUpGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>be.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetailController</servlet-name>
        <servlet-class>be.controller.GetOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <servlet-class>be.controller.DeleteOrderDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/AddAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountsController</servlet-name>
        <url-pattern>/GetAccountsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountController</servlet-name>
        <url-pattern>/GetAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyAccountController</servlet-name>
        <url-pattern>/BuyAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartController</servlet-name>
        <url-pattern>/GetCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpGoogleHandler</servlet-name>
        <url-pattern>/SignUpGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetailController</servlet-name>
        <url-pattern>/GetOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <url-pattern>/DeleteOrderDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
